---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';

const code = ["Python", "Java", "JavaScript", "Node.js", "C++"]
const volunteer = ["Sleep in Heavenly Peace Bed's for Kids (2025)", "Christmas Hampers (2016-2020)", "Career Trek (2017-2018)"]

---
<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About Me!</title>
  </head>
  <body>
    <Navigation />
    <h1>Welcome to my website!</h1>
    <h1>About Me:</h1>

    <p>I am a university graduate with a Bachelors of Science, major in Computer Science and minor in Statistics.</p>
    <p>I've been programming for nine years now, having proficiency in C++, Java, JavaScript, and Python. I've also used SQL for databases and R for statistics.</p>

    <p>I'm also good with physical activity, with previous experience in carpentry and being a labourer working with the City of Winnipeg Parks & Open Spaces division, working in the summer sun and being certified by the city to operate machinery.</p>
    <p>I also have a history of volunteer work with:</p>
    <ul>
      {volunteer.map((skill) => <li>{skill}</li>)}
    </ul>
  </body>
</html>
