---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import {Image} from 'astro:assets';
---

<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Home Page</title>
  </head>
  <body>
    <Navigation />
    <h1>Welcome!</h1>
    <p>This is still a work in progress, but it's coming along!</p>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
  <Image src="Formal_Photo_1.jpg" alt="Me!" width="50" height="50" />
</html>
